name: 02 - Workflow Events
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '25 * * * *' 



jobs:
  echo:
    name: echo
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: |
          echo "This workflow was triggered by the event: ${{ github.event_name }}"