name: 04 - Using Actions
on:
  push:

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: 04-using-actions/react-app
        steps:
          - name: Checkout repository
            uses: actions/checkout@v3

          - name: Printing Folders
            run: |
              echo "Listing the repository folders:"
              tree -L 3

          - name: Setup Node
            uses: actions/setup-node@v3
            with:
              node-version: '20.x'

          - name: Install Dependencies
            run: |
              npm ci

          - name: Run Unit Tests
            run: |
              npm run test

